/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid rgb(209, 150, 21);
  margin: 0px;
  padding: 30px;
  color: gold;

  -webkit-text-stroke: 1px white;
}
#me {
  font-size: 15px;
  text-align: center;
  border-bottom: 2px solid rgb(209, 150, 21);
  margin: 0px;
  padding: 20px;
}
a {
  color: rgb(209, 150, 21);
  font-size: 15px;

  -webkit-text-stroke: 0.1px white;
}
#lol {
  text-decoration: none;
}
#list {
  border-right: 2px solid rgb(209, 150, 21);
  border-bottom: 2px solid rgb(209, 150, 21);

  width: 300px;
  margin: 0;
  padding: 0px;
  padding-left: 0px;
  line-height: 1.9em;
}
h4 {
  color: gold;
  -webkit-text-stroke: 0.16px white;
}

h3 {
  color: gold;

  -webkit-text-stroke: 0.3px white;
}
h2 {
  color: gold;

  -webkit-text-stroke: 0.5px white;
}
body {
  margin: 2px;
  background-color: black;
  color: white;
  line-height: 1.4em;
  vertical-align: baseline;
  border: 2px solid rgb(209, 150, 21);
  font-family: arial, "Times New Roman", sans;
}
ol {
  color: rgb(209, 150, 21);

  -webkit-text-stroke: 0.1px white;
}

#grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}

#article {
  padding-left: 30px;
  margin-right: 50px;
}

img.JunSungPhoto {
  width: 300px;
  height: 380px;
  float: right;
  margin: 20px;
}

img.Photo {
  margin: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  #list {
    border-right: none;
    border-bottom: block;
    width: 800px;
  }
  h1 {
    border-bottom: block;
  }
  #me {
    border-bottom: block;
  }
}

@media (min-width: 800px) {
  #list {
    border-bottom: none;
  }
}
